<div class="dashboard container">
	<div class="row red-border" id="title">
		<h2>
			HOY
		</h2>
	</div>
	<app-day-detail [data]="data[0]"></app-day-detail>
	<div *ngFor="let dayData of data" class="row day">
		<div class="col-2">
			{{getWeekday(dayData.date)}}
		</div>
		<div class="col-2">
			<img [src]="getEmojiUrl(dayData.sentiment)"/>
		</div>
		<div class="col-4">
			{{dayData.character.name}}
		</div>
		<div class="col-4">
			{{dayData.adjectives[0]}}
		</div>		
	</div>

	<div class="row conventions">
		<div class="col-2">
			Escala de sentimiento
		</div>
		<div class="col-2">
			<p>Muy negativo</p>
			<img src="assets/img/emojis/very-sad.png"/>
		</div>
		<div class="col-2">
			<p>Negativo</p>
			<img src="assets/img/emojis/sad.png"/>
		</div>
		<div class="col-2">
			<p>Ambiguo</p>
			<img src="assets/img/emojis/neutral.png"/>
		</div>
		<div class="col-2">
			<p>Positivo</p>
			<img src="assets/img/emojis/happy.png"/>
		</div>
		<div class="col-2">
			<p>Muy positivo</p>
			<img src="assets/img/emojis/very-happy.png"/>
		</div>
	</div>
</div>
