.dashboard {
    border-radius: 25px;
    border: 3px solid #ce1126;
    width: auto;
    margin: -20px 10px;
    background-color: white;
}

.red-border{
	border-bottom: 2px solid #ce1126;
	padding-left: 15px;
	padding-right: 15px;
}

.conventions{
	border-top: 2px dashed black;
	margin-left: 2%;
	margin-right: 2%;
	@media (max-width: 767px) {	
		margin-left: 0;
		margin-right: 0;
	}

	div{
		padding: 0;
	}

	img{
		width: 100%;
		padding: 5% 35%;
		@media (max-width: 767px) {	
			padding: 10% 30%;
		}
	}

	p{
		margin: 0;
		text-align: center;
		@media (max-width: 767px) {	
			font-size: calc(4px + 1.2vw);
		}

	}

	div:first-child{
		height: 100%;
		margin: auto;
		text-align: center;
		@media (max-width: 540px) {	
			font-size: 3vw;
		}
	}
}

:host{
	width: 100%;
}

