<div class="row">
	<div class="col-12 col-md-10 col-lg-8" id="chart-container">
<!-- 		<div id="chart-subcontainer">
	      <ngx-charts-sparkline
			[scheme]="colorScheme"
			[results]="data"
			[annotations]="annotations"
			[gradient]="gradient"
			[xAxis]="showXAxis"
			[yAxis]="showYAxis"
			[legend]="showLegend"
			[showXAxisLabel]="showXAxisLabel"
			[showYAxisLabel]="showYAxisLabel"
			[xAxisLabel]="xAxisLabel"
			[yAxisLabel]="yAxisLabel"
			[autoScale]="autoScale"
			[activeEntries]="activeEntries"
			(select)="onSelect($event)"
			[activeEntries] = "activeEntries"
			(deactivate) = "onActivateAndDeactivate()"
			(active) = "onActivateAndDeactivate()">
	      </ngx-charts-sparkline>
	    </div> -->

	     <div class="aspect-ratio-box">
		  <div class="aspect-ratio-box-inside">
		      <ngx-charts-sparkline
				[scheme]="colorScheme"
				[results]="data"
				[annotations]="annotations"
				[gradient]="gradient"
				[xAxis]="showXAxis"
				[yAxis]="showYAxis"
				[legend]="showLegend"
				[showXAxisLabel]="showXAxisLabel"
				[showYAxisLabel]="showYAxisLabel"
				[xAxisLabel]="xAxisLabel"
				[yAxisLabel]="yAxisLabel"
				[autoScale]="autoScale"
				[activeEntries]="activeEntries"
				(select)="onSelect($event)"
				[activeEntries] = "activeEntries"
				(deactivate) = "onActivateAndDeactivate()"
				(active) = "onActivateAndDeactivate()">
		      </ngx-charts-sparkline>		    
		  </div>
		</div>
	</div>
</div>

