<div class="container">
	<div class="row" id="data">
		<div class="col-12">
			<b>VIERNES</b> 27 de abril
		</div>
		<div class="col-4" id="feeling">
			<div class="img-container">
				<img src="assets/img/emojis/very-happy.png"/>
			</div>
		</div>
		<div class="col-4" id="player">
			<div class="img-container">
				<img src="assets/img/players/chavo.png"/>
			</div>
		</div>
		<div class="col-4" id="player">
			<app-word-cloud></app-word-cloud>
		</div>
	</div>

	<div class="row red-border" id="metadata">
		<div class="col-4">
			<p>
				SENTIMIENTO DEL DÍA
			</p>
		</div>		
		<div class="col-4">
			<p>
				PERSONAJE DEL DÍA
			</p>
		</div>		
		<div class="col-4">
			<p>
				ADJETIVOS MÁS USADOS
			</p>
		</div>
	</div>
</div>
