<div class="container">
<!-- 	<div class="row" id="match" *ngIf="data.match_data">
		<div class="col-12">
			<h2>{{data.match_data.title}}</h2>
		</div>	
		<div class="col-12">
			<app-match-chart [matchData]="data.match_data"></app-match-chart>
		</div>	
	</div> -->

	<div class="row" id="data">
		<div class="col-12" id="date">
			<b>{{weekday}}</b> {{date}}
		</div>
		<div class="col-3 col-sm-4" id="feeling">
			<div class="img-container">
				<img [src]='emojiUrl'/>
			</div>
		</div>
		<div class="col-4 col-sm-4" id="player">
			<div class="img-container">
				<img [src]="'assets/img/players/' + data.character.id + '.jpg'"/>
			</div>
		</div>
		<div class="col-5 col-sm-4" id="words">
			<app-word-cloud [words] = data.adjectives></app-word-cloud>
		</div>
	</div>

	<div class="row red-border" id="metadata">
		<div class="col-3 col-sm-4">
			<p>
				SENTIMIENTO DEL DÍA
			</p>
		</div>		
		<div class="col-4 col-sm-4">
			<p>
				PERSONAJE DEL DÍA
			</p>
		</div>		
		<div class="col-5 col-sm-4">
			<p>
				ADJETIVOS MÁS USADOS
			</p>
		</div>
	</div>
</div>
