<svg:g *ngIf="circle">
  <defs>
    <svg:g ngx-charts-svg-linear-gradient
      orientation="vertical"
      [name]="gradientId"
      [stops]="circle.gradientStops"
    />
  </defs>
  <svg:rect
    *ngIf="barVisible && type === 'standard'"
    [@animationState]="'active'"
    [attr.x]="circle.cx - circle.radius"
    [attr.y]="circle.cy"
    [attr.width]="circle.radius * 2"
    [attr.height]="circle.height"
    [attr.fill]="gradientFill"
    class="tooltip-bar"
  />

	 <svg:g
	  [attr.x]="circle.cx"
	  [attr.y]="circle.cy"
	>
	  <image [attr.xlink:href]="emoji"  	  
	  [attr.x]="circle.cx -10"
	  [attr.y]="circle.cy -10" 
	  height="20" width="20">
    </image>



	</svg:g>
</svg:g>
