<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="header row">
    <div class="col-12">
      <h1>
        MEDIDOR DE OPTIMISMO
      </h1>        
    </div>
 
    <div id="logos" class="container">
      <div class="row">
        <div class="col-7">
          
        </div>
        <div class="col-5 line-logos">
          <div class="row"> 
            <div class="col-6 col-sm-5 line-logo">
              <img src="assets/img/logos/LogoRamo.png"/>
            </div>
            <div class="col-4 col-sm-4 line-logo">
              <img src="assets/img/logos/LogoFederacion.png"/>        
            </div>                 
          </div>
        </div>
    
      </div>
    </div>
  </div>

  <div class="row">
    <app-dashboard></app-dashboard>
  </div>

  <!-- <router-outlet></router-outlet> -->

  <div class="footer row">
    <div class="credits">
      
    </div>
    <!-- <img src="assets/img/logos/LogoWJHB.png" /> -->
  </div>

</div>


