<div id="word-cloud">    
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
    viewBox="0 0 800 500">
      <g id="yellow">
        <circle cx="250" cy="250" r="250"></circle>
        <text 	x="250" 
        		y="250" 
        		text-anchor="middle" 
        		stroke="black" 
        		stroke-width="1px" 
        		dy=".3em"
        		font-size="5rem">
        	Adjetivo
        </text>
      </g>
      <g id="blue">
        <circle cx="645" cy="155" r="150"></circle>
        <text   x="645" 
                y="155" 
                text-anchor="middle" 
                stroke="black" 
                stroke-width="1px" 
                dy=".3em"
                font-size="3rem">
            Adjetivo
        </text>
      </g>
      <g id="red">
        <circle cx="645" cy="405" r="95"></circle>
        <text   x="645" 
                y="405" 
                text-anchor="middle" 
                stroke="black" 
                stroke-width="1px" 
                dy=".3em"
                font-size="2rem">
            Adjetivo
        </text>
      </g>
    </svg>
</div>