#word-cloud{
	max-width: 300px;
	margin: auto;


}

circle{
	fill:white;
	stroke:red;
	stroke-width:6;
	// stroke-miterlimit:10;
}

#yellow{
	circle{
		stroke:#fcd116;
	}
}

#blue{
	circle{
		stroke:#003893;
	}
}

#red{
	circle{
		stroke:#ce1126;
	}
}